/*TEMPORARY DAILY STYLING TOP BE REPLACED //////////////////////////////////////////////////////////////////////////////////// */
body {
  background-color: #f2f2f2;
  max-width: 1400px;
  margin: 0 auto;
}

/* animate emoji on hover */
.survey-rating-row svg:hover path {
  animation: emoji-animation 1s ease-in-out infinite;
}
emoji-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes emoji-animation {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

radio-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes radio-animation {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

.survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  gap: 2rem;
  margin: 0 auto;
  max-width: 1400px;
}

.survey-comment {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.survey-rating-row {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

svg {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

label {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

label > input[type="radio"]:checked {
  animation: radio-animation 1s ease-in-out infinite;
}

textarea {
  width: 75%;
  height: 75%;
  border: none;
  /* border-radius: 10px;
    padding: 1rem; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.survey-comment label {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
