/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Responsive Images ============ */
img {
  max-width: 100%;
  height: auto;
}

.dailywrapper svg {
  width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Titillium Web", Arial, Tahoma, Helvetica, sans-serif !important;
}

h1 {
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
}

.hero {
  background: linear-gradient(180deg, #0098ff, #003d66);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero .hero-text {
  padding: 2rem;
}
.hero .hero-text h2 {
  font-size: 46px;
  margin-bottom: 1rem;
}

.hero-text p {
  padding-bottom: 1rem;
}

.hero-text a {
  background-color: #00cf92;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
}
.hero-image {
  align-self: center;
}

.wrapper {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.home {
  margin-top: 5rem;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.powerWord {
  color: #0098ff;
}
section {
  margin-bottom: 2rem;
}

/* Main Footer ==================== */
.footer-home {
  background: linear-gradient(180deg, #0098ff, #003d66);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 5fr 200px;
  gap: 2rem;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.9rem;
  height: 15vh;
}

.footer-home a {
  color: #ffffff;
  padding: 0.5rem;
}

.footer-home ul li {
  list-style: none;
  display: inline;
}

.copyright p,
.footer-nav,
.footer-sns p {
  padding: 0;
  margin: 0;
}

.footer-nav {
  text-align: center;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-sns {
  display: flex;
  flex-flow: column nowrap;
}

.footer-sns a:first-child {
  padding-left: 0;
  padding-right: 0.5rem;
}

.mobile-copy {
  display: none;
}
/*Lading page features*/


.feature-5 p {
  padding:0.5rem 0 4rem 2rem;
}
.picture-section {
  display:grid; 
  grid-template-columns: repeat(4, 1fr);
}
.picture-wrap {
  position: relative;
  text-align:center;
  margin:0 auto;
}

.picture-section .picture-wrap p {
  padding:0;
  margin:0;
}

.picture-section .picture-wrap h3 {
  padding:0;
  margin:0;
}


.picture1 {
  background: no-repeat url("source/Karan.png") ;
  background-size:cover;
  width:200px;
  height:250px;

}
.picture2 {
  background:no-repeat url("source/Christian.jpg") ;
  background-size:cover;
  width:200px;
  height:250px;
}

.picture3 {
  background:  no-repeat url("source/heywon.png") ;
  background-size:cover;
  width:200px;
  height:250px;
}

.picture4 {
  background: no-repeat url("source/Taras.jpg") ;
  background-size:cover;
  width:200px;
  height:250px;
}

.picture5 {
  background: no-repeat url("source/Jie.jpg") ;
  background-size:cover;
  width:200px;
  height:250px;
}

.picture6 {
  background: no-repeat url("source/Tia.png") ;
  background-size:cover;
  width:200px;
  height:250px;
}

.picture7 {
  background: no-repeat url("source/Connie.png") ;
  background-size:cover;
  width:200px;
  height:250px;
}

.feature-5-text {
  padding-bottom:10%;
  padding-left:50%;
  text-align:right;
}

.feature-5-text h3 {
  text-align:right;
}

.feature-5-text p {
  padding:0;
  text-align: right;
}

.linkdein {
  background:no-repeat url("source/256px-LinkedIn_logo_initials.png");
  background-size:cover;
  width:30px;
  height:30px;
  position:absolute;
  top:5%;
  right:5%;

}
/* DAILY SURVEY */
/* animate emoji on hover */
.survey-rating-row svg:hover path {
  animation: emoji-animation 1s ease-in-out infinite;
  cursor: pointer;
}
emoji-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes emoji-animation {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

radio-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes radio-animation {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

.survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  gap: 2rem;
  margin: 0 auto;
  max-width: 1400px;
}

.survey-comment {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.survey-rating-row {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.survey-form svg {
  /* background-color: #f5f5f5; */
  padding: 1rem;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}

.survey-form label {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.survey-form label > input[type="radio"]:checked {
  animation: radio-animation 1s ease-in-out infinite;
}

.survey-form textarea {
  /* width: 75%;
  height: 75%; */
  border: none;
  max-width: 100%;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.survey-comment label {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.survey-submitBtn {
  background: #336485;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 50px;
  gap: 10px;
  cursor: pointer;
}

.completed-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.dailywrapper h2 {
  text-align: center;
}
/* =======Surveys */
.surveys-container {
  padding: 2rem 3rem;
  min-height: 85vh;
}
.survey {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.survey-question {
  margin: 1rem auto 3rem auto;
}
.survey-question label,
.survey-question div {
  margin: 1rem 0 1rem 0;
}
.survey-question textarea {
  width: 600px;
  height: 100px;
}

/* Table of survey  */

.all-surveys table {
  min-width: 100%;
}
.all-surveys table th,
.all-surveys table td,
.all-surveys table tr {
  text-align: center;
  border-bottom: 1px #c4c4c4 solid;
  padding: 0px;
}

/*survey report list*/
.newSurvey {
  color: red;
  text-transform: uppercase;
  font-size: 10px;
}
.report-page {
  padding: 0 5%;
}

.report-pageA table {
  font-family: "Titillium Web", Arial, Tahoma, Helvetica, sans-serif;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.report-pageA tbody {
  width: 100%;
}

.report-list th {
  border-bottom: 1.3px solid black;
}
.report-list th:first-child {
  width: 30%;
}

.report-list th:nth-child(2) {
  width: 20%;
}
.report-list th:nth-child(3) {
  width: 40%;
}
.report-list th:last-child {
  width: 40%;
}
.report-content td {
  border-bottom: 1px solid #ccc;
}

/* .showBtn {
  display: block;
  margin: 0 auto;
} */

.surveys-container h2 {
  text-align: left;
}

.view-btn {
  background-color: #003d66;
  color: white;
  border: 0;
}
.report-title {
  text-align: center;
}

/* square buttons */

.answer {
  display: flex;
}
.survey-question .squareRadio {
  display: none;
}
.survey-question .squareIcon,
.survey-question .squareIconType2 {
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
}
.survey-question .squareIcon span,
.survey-question .squareIconType2 span {
  position: relative;
  line-height: 30px;
  text-align: center;
}
.survey-question .squareIcon span:before,
.survey-question .squareIcon span:after,
.survey-question .squareIconType2 span:before,
.survey-question .squareIconType2 span:after {
  content: "";
}

.survey-question .squareIcon span:before {
  border: 0px solid #cccccc;
  min-width: 98%;
  height: 40px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
}
/* .survey-question .squareIconType2 span:before {
  border: 2px solid #CCCCCC;
  min-width: 20px;
  height: 20px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
} */

.survey-question .squareIcon span:after {
  border: 3px solid #00cf92;
  border-radius: 5px;
  min-width: 100%;
  height: 600%;
  position: absolute;
  top: -6px;
  left: 0%;
  transition: 300ms;
  opacity: 0;
}

.survey-question .squareIcon span:after .squareIcon {
  border: 3px solid red;
}
/* .survey-question .squareIconType2 span:after {
  border: 3px solid #00CF92;
  background: #0098FF;
  min-width: 20px;
  height: 20px;
  position: absolute;
  top: -6px;
  left: 0%;
  transition: 300ms;
  opacity: 0;
} */
.survey-question .squareIcon input:checked + span:after,
.survey-question .squareIconType2 input:checked + span:after {
  opacity: 1;
}

.survey-question .squareIcon .ES:before {
  background: #003d66;
  content: "7";
  color: white;
}
.survey-question .squareIcon .MS:before {
  background: #336485;
  content: "6";
  color: white;
}
.survey-question .squareIcon .SS:before {
  background: #668ba3;
  content: "5";
  color: white;
}
.survey-question .squareIcon .NSND:before {
  background: #92adc1;
  content: "4";
  color: white;
}
.survey-question .squareIcon .SD:before {
  background: #99b1c2;
  content: "3";
  color: white;
}
.survey-question .squareIcon .MD:before {
  background: #adbbc5;
  content: "2";
  color: white;
}
.survey-question .squareIcon .ED:before {
  background: #ccd8e0;
  content: "1";
  color: white;
}
.survey-question textarea {
  border-radius: 5px;
}
.surveys-container h2 {
  font-family: "Titillium Web", sans-serif;
}
/* submit button */
.submit_btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #336485;
  color: white;
  display: flex;
  align-items: center;

  padding: 8px 50px;
  gap: 10px;
  border-radius: 5px;
}
.surveys-container .all-surveys {
  font-size: 16px;
}
.surveys-container .all-surveys table,
th,
td {
  border-color: #c4c4c4;
}
.survey_inactive {
  color: #767676;
}
.surveys-container .links {
  color: black;
}
.surveys-container a.links:visited {
  color: black;
}

/* Survey table  */
.all-surveys {
  min-width: 400px;
}

/* mobile layout */
@media screen and (max-width: 800px) {
  .squareIcon {
    /* min-width: 650px; */
    margin-left: auto;
    margin-right: auto;
  }
  .squareIcon div {
    display: none;
  }
  .squareIcon {
    min-width: 10%;
  }
  .survey {
    min-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .survey-question .squareIcon span:after {
    height: 240%;
  }
  .survey-question {
    min-width: 650px;
  }
  .answer {
    justify-content: center;
  }
  .survey-question lable p {
    display: flex;
    min-width: 650px;
  }
}

/*My account page*/
.account-text {
  padding-left: 6%;
}
.profile-form {
  display: flex;
}

.profile-form li {
  width: 50%;
  list-style: none;
  margin-right: 8%;
}

.profile-form li input {
  width: 70%;
  padding: 2% 0 2% 2%;
}

.logoutBtn {
  background-color: white;
  border: 0;
  color: #003d66;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 86%;
  cursor: pointer;
}

.employee-info label {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Titillium Web", sans-serif;
}
/* ////////////////Media Queries///////////////////////////////   */
@media screen and (max-width: 450px) {
  .hero .hero-text h2 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 750px) {
  /* Hero*/
  .hero .hero-text {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-text p {
    display: none;
  }
  .hero-text a {
    text-align: center;
    max-width: fit-content;
    align-self: center;
    justify-self: center;
    margin: 1rem;
  }
  .hero {
    grid-template-columns: 1fr;
    gap: 0.2rem;
  }
  .hero-image {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: end;
  }
  .feature {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  /* Footer */

  .footer-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem 1rem;
    height: auto;
  }

  .footer-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-sns {
    text-align: left;
  }

  .copyright p:nth-child(2) {
    display: none;
  }

  .mobile-copy {
    display: block;
    grid-column: span 3;
  }
}
