/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Responsive Images ============ */
img {
  max-width: 100%;
  height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

body {
  margin: 0;
  font-family: "Titillium Web", Arial, Tahoma, Helvetica, sans-serif;
}

h1 {
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
}

.hero {
  background: linear-gradient(180deg, #0098ff, #003d66);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero .hero-text {
  padding: 2rem;
}
.hero .hero-text h2 {
  font-size: 46px;
  margin-bottom: 0;
}

.hero-text p {
  padding-bottom: 1rem;
}

.hero-text a {
  background-color: #00cf92;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
}

.wrapper {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

main {
  margin-top: 5rem;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.feature img {
  min-width: 100%;
  height: auto;
}

/* Main Footer ==================== */
footer {
  background: linear-gradient(180deg, #0098ff, #003d66);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 5fr 200px;
  gap: 2rem;
  align-content: center;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.9rem;
  height: 15vh;
}

footer a {
  color: #ffffff;
  padding: 0.5rem;
}

footer ul li {
  list-style: none;
  display: inline;
}

.copyright p, .footer-nav, .footer-sns p {
  padding: 0;
  margin: 0;
}

.footer-nav {
  text-align: center;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-sns {
  display: flex;
  flex-flow: column nowrap;
}

.footer-sns a:first-child {
  padding-left: 0;  
  padding-right: 0.5rem;
}

.mobile-copy {
  display: none;
}

/* DAILY SURVEY */
/* animate emoji on hover */
.survey-rating-row svg:hover path {
  animation: emoji-animation 1s ease-in-out infinite;
  cursor: pointer;
}
emoji-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes emoji-animation {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

radio-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes radio-animation {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

.survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  gap: 2rem;
  margin: 0 auto;
  max-width: 1400px;
}

.survey-comment {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.survey-rating-row {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.survey-form svg {
  /* background-color: #f5f5f5; */
  padding: 1rem;
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); */
}

.survey-form label {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.survey-form label > input[type="radio"]:checked {
  animation: radio-animation 1s ease-in-out infinite;
}

.survey-form textarea {
  /* width: 75%;
  height: 75%; */
  border: none;
  /* border-radius: 10px;
        padding: 1rem; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.survey-comment label {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.survey-submitBtn {
  background: #336485;
  border-radius: 5px;
  color: #ffffff;
  padding: 8px 50px;
  gap: 10px;
  cursor: pointer;
}

.completed-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.dailywrapper h2 {
  text-align: center;
}
/* =======Surveys */
.surveys-container {
  padding: 2rem 3rem;
  min-height: 85vh;
}
.survey {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.survey-question {
  margin: 1rem auto 3rem auto;
}
.survey-question label,
.survey-question div {
  margin: 1rem 0 1rem 0;
}
.survey-question textarea {
  width: 600px;
  height: 100px;
}

/* Table of survey  */

.all-surveys table {
  min-width: 100%;
}
.all-surveys table th,
.all-surveys table td,
.all-surveys table tr {
  text-align: center;
  border-bottom: 1px #c4c4c4 solid;
  padding: 0px;
}

/*survey report list*/
.report-pageA table {
  font-family: "Titillium Web", Arial, Tahoma, Helvetica, sans-serif;
  text-align:center;
  width:90%;
  margin:0 auto;
}

.report-pageA tbody {
  width:100%;
}

.report-list th {
  border-bottom: 1.3px solid black;
}
.report-list th:first-child {
  width: 30%;
}

.report-list th:nth-child(2) {
  width: 20%;
}
.report-list th:nth-child(3) {
  width: 40%;
}
.report-list th:last-child {
  width: 40%;
}
.report-content td {
  border-bottom: 1px solid #ccc;
}

/* .showBtn {
  display: block;
  margin: 0 auto;
} */

.surveys-container h2 {
  text-align: left;
}

.view-btn {
  background-color:#003D66;
  color:white;
  border:0;
}
.report-title {
  text-align: center;
}

/* square buttons */

.answer {
  display: flex;
}
.survey-question .squareRadio {
  display: none;
}
.survey-question .squareIcon,
.survey-question .squareIconType2 {
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
}
.survey-question .squareIcon span,
.survey-question .squareIconType2 span {
  position: relative;
  line-height: 30px;
  text-align: center;
}
.survey-question .squareIcon span:before,
.survey-question .squareIcon span:after,
.survey-question .squareIconType2 span:before,
.survey-question .squareIconType2 span:after {
  content: "";
}

.survey-question .squareIcon span:before {
  border: 0px solid #cccccc;
  min-width: 98%;
  height: 30px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
}
.survey-question .squareIconType2 span:before {
  border: 2px solid #cccccc;
  min-width: 20px;
  height: 20px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
}

.survey-question .squareIcon span:after {
  border: 3px solid #cccccc;
  min-width: 100%;
  height: 32px;
  position: absolute;
  top: -6px;
  left: 0%;
  transition: 300ms;
  opacity: 0;
}
.survey-question .squareIconType2 span:after {
  border: 3px solid #cccccc;
  background: #0098ff;
  min-width: 20px;
  height: 20px;
  position: absolute;
  top: -6px;
  left: 0%;
  transition: 300ms;
  opacity: 0;
}
.survey-question .squareIcon input:checked + span:after,
.survey-question .squareIconType2 input:checked + span:after {
  opacity: 1;
}

.survey-question .squareIcon .ES:before {
  background: #003d66;
  content: "7";
  color: white;
}
.survey-question .squareIcon .MS:before {
  background: #336485;
  content: "6";
  color: white;
}
.survey-question .squareIcon .SS:before {
  background: #668ba3;
  content: "5";
  color: white;
}
.survey-question .squareIcon .NSND:before {
  background: #92adc1;
  content: "4";
  color: white;
}
.survey-question .squareIcon .SD:before {
  background: #99b1c2;
  content: "3";
  color: white;
}
.survey-question .squareIcon .MD:before {
  background: #adbbc5;
  content: "2";
  color: white;
}
.survey-question .squareIcon .ED:before {
  background: #ccd8e0;
  content: "1";
  color: white;
}
.survey-question textarea {
  border-radius: 5px;
}
.surveys-container h2 {
  font-family: "Titillium Web", sans-serif;
}
/* submit button */
.submit_btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #336485;
  color: white;
  display: flex;
  align-items: center;

  padding: 8px 50px;
  gap: 10px;
  border-radius: 5px;
}
.surveys-container .all-surveys {
  font-size: 16px;
}
.surveys-container .all-surveys table,
th,
td {
  border-color: #c4c4c4;
}
.survey_inactive {
  color: #767676;
}

/*My account page*/
.account-text {
  padding-left: 6%;
}
.profile-form {
  display: flex;
}

.profile-form li {
  width: 50%;
  list-style: none;
  margin-right: 8%;
}

.profile-form li input {
  width: 70%;
  padding: 2% 0 2% 2%;
}

.logoutBtn {
  background-color: white;
  border: 0;
  color: #003d66;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 86%;
  cursor: pointer;
}

.employee-info label {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Titillium Web", sans-serif;
}

@media screen and (max-width: 800px) {

  /* Footer */

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2rem 1rem;
    height: auto;
  }

  .footer-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-sns {
    text-align: left;
  }

  .copyright p:nth-child(2) {
    display: none;
  }

  .mobile-copy {
    display: block;
    grid-column: span 3;
  }

}