/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Titillium Web", Arial, Tahoma, Helvetica, sans-serif;
}

h1 {
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
}

.hero {
  background: linear-gradient(180deg, #0098ff, #003d66);
  color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero .hero-text {
  padding: 2rem;
}
.hero .hero-text h2 {
  font-size: 46px;
  margin-bottom: 0;
}

.hero-text p {
  padding-bottom: 1rem;
}

.hero-text a {
  background-color: #00cf92;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
}

.wrapper {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

main {
  margin-top: 5rem;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.feature img {
  min-width: 100%;
  height: auto;
}

footer {
  background: linear-gradient(180deg, #0098ff, #003d66);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* DAILY SURVEY */
/* animate emoji on hover */
.survey-rating-row svg:hover path {
  animation: emoji-animation 1s ease-in-out infinite;
}
emoji-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes emoji-animation {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

radio-animation {
  animation-name: emoji-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes radio-animation {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2);
  }
}

.survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  gap: 2rem;
  margin: 0 auto;
  max-width: 1400px;
}

.survey-comment {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.survey-rating-row {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.survey-form svg {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.survey-form label {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.survey-form label > input[type="radio"]:checked {
  animation: radio-animation 1s ease-in-out infinite;
}

.survey-form textarea {
  width: 75%;
  height: 75%;
  border: none;
  /* border-radius: 10px;
        padding: 1rem; */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.survey-comment label {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.completed-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

/* =======Surveys */
.surveys-container {
  padding: 2rem 3rem;
  min-height: 85vh;
}
.survey {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.survey-question {
  margin: 1rem auto 3rem auto;
}
.survey-question label,
.survey-question div {
  margin: 1rem 0 1rem 0;
}
.survey-question textarea {
  width: 600px;
  height: 100px;
}

/* Table of survey  */

.all-surveys table {
  min-width: 100%;
}
.all-surveys table th,
.all-surveys table td,
.all-surveys table tr {
  text-align: center;
  border-bottom: 1px #C4C4C4 solid;
  padding: 0px;
}


/*survey report list*/
.newSurvey {
  color: red;
  text-transform: uppercase;
  font-size: 10px;
}
.report-page {
  padding: 0 5%;
}
.report-list th {
  border-bottom: 1.3px solid black;
}
.report-list th:first-child {
  width: 20%;
}

.report-list th:nth-child(2) {
  width: 40%;
}

.report-list th:last-child {
  width: 40%;
}
.report-content td {
  border-bottom: 1px solid #ccc;
}
.report-content td:first-child {
  width: 20%;
  text-align: center;
}

.report-content td:nth-child(2) {
  width: 40%;
  text-align: center;
}

.report-content td:last-child {
  width: 40%;
  text-align: center;
}

.showBtn {
  display: block;
  margin: 0 auto;
}

.surveys-container h2 {
    text-align: left;
}
/* square buttons */

.answer {
    display: flex;

}
.survey-question .squareRadio {
  display: none;
}
.survey-question .squareIcon,
.survey-question .squareIconType2 
{
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
}
.survey-question .squareIcon span,
.survey-question .squareIconType2 span
 {
  position: relative;
  line-height: 30px;
  text-align: center;
}
.survey-question .squareIcon span:before,
.survey-question .squareIcon span:after,
.survey-question .squareIconType2 span:before,
.survey-question .squareIconType2 span:after
{
  content: '';
}

.squareIcon div {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}


.survey-question .squareIcon span:before {
  border: 0px solid #CCCCCC;
  min-width: 98%;
  height: 40px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
}
/* .survey-question .squareIconType2 span:before {
  border: 2px solid #CCCCCC;
  min-width: 20px;
  height: 20px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
} */

.survey-question .squareIcon span:after {
  border: 3px solid #00CF92;
  border-radius: 5px;
  min-width: 100%;
  height: 600%;
  position: absolute;
  top: -6px;
  left: 0%;
  transition: 300ms;
  opacity: 0;
}

.survey-question .squareIcon span:after .squareIcon {
      border: 3px solid red;
}
/* .survey-question .squareIconType2 span:after {
  border: 3px solid #00CF92;
  background: #0098FF;
  min-width: 20px;
  height: 20px;
  position: absolute;
  top: -6px;
  left: 0%;
  transition: 300ms;
  opacity: 0;
} */
.survey-question .squareIcon input:checked+span:after,
.survey-question .squareIconType2 input:checked+span:after
{
  opacity: 1;
}


.survey-question .squareIcon .ES:before {
  background: #003D66;
  content: '7';
  color: white;

}
.survey-question .squareIcon .MS:before {
  background: #336485;
  content: '6';
   color: white;
}
.survey-question .squareIcon .SS:before {
  background: #668BA3;
  content: '5';
   color: white;
}
.survey-question .squareIcon .NSND:before {
  background: #92adc1;
  content: '4';
   color: white;
}
.survey-question .squareIcon .SD:before {
  background:  #99B1C2;
  content: '3';
   color: white;
}
.survey-question .squareIcon .MD:before {
  background:  #adbbc5;
  content: '2';
   color: white;
}
.survey-question .squareIcon .ED:before {
  background:  #CCD8E0;
  content: '1';
  color: white;
}
.survey-question textarea {
  border-radius: 5px;
}
.surveys-container h2 {
  font-family: "Titillium Web", sans-serif;
}
/* submit button */
.submit_btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #336485;
  color: white;
  display: flex;
  align-items: center;
  
  padding: 8px 50px;
  gap: 10px;
  border-radius: 5px;
}
.surveys-container .all-surveys {
  font-size: 16px;
}
.surveys-container .all-surveys table, th, td{
  border-color: #C4C4C4;
} 
.survey_inactive {
  color: #767676;
;
}
.surveys-container .links {
  color: black;
}
.surveys-container a.links:visited {
  color: black;
}

/* Survey table  */
.all-surveys {
  min-width: 400px;
}

/* mobile layout */

@media screen and (max-width: 800px) {

    .squareIcon {
       /* min-width: 650px; */
       margin-left: auto;
       margin-right: auto;
    }
    .squareIcon div {
      display: none;
    }
    .squareIcon {
      min-width: 10%;
    }
    .survey {
      min-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
    .survey-question .squareIcon span:after {
        height: 240%;

}
      .survey-question{
        min-width: 650px;
      }
      .answer {
        justify-content: center;
      }
      .survey-question lable p {
        display: flex;
        min-width: 650px;
        
      }
}
